/* #page {
  background-color: #52d2d2;
  margin-top: 87px;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

#content{
    background-color: #fff;
    padding-left: 100px;
    
}

h1 {
    color:#007bff;
    text-align: center;
}

.list {
    padding-left: 50px;
}

.center{
     display: block;
     text-align: center;
     margin-top: 40px;
     margin-bottom: 15px;
}

.center .btn{
    display: inline-block;
    background-color: #28a745;
    color:#fff;
    padding: 15px 25px;
    font-weight:800px;
    border-radius: 5px;
    font-size: 20px;
} */